.page-block
  margin: 10px 0;
  background: #FFF
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3)
  &-content
    padding: 10px
  &-title
    padding: 10px
    background: #F0F0F0
    border-bottom: 1px solid #DDD
    overflow: hidden
    zoom: 1
    h3
      padding: 3px 0
      float: left
    button
      float: right
