html, body, #APPROOT
  padding: 0
  margin: 0
  border: none
  height: 100%
  overflow: visible
  background: #F7F7F7

*
  box-sizing: border-box

.ant-btn
  margin-right: 5px
  margin-bottom: 5px
.ant-table table
  font-size: 0.8em
